player-connection-mode=Listen
player-connection-guid=1888961945
player-connection-debug=0
player-connection-project-name=Pizza Panic
player-connection-ip=10.2.0.2
player-connection-ip=192.168.1.201
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
enable-directstorage=False
build-guid=e1ca877ab30d4516b042990f292e6e74
